@font-face {
    font-family: 'LCD5x8HRU';
    src: url('fonts/LCD5x8HRU.ttf') format('truetype');
}

@font-face {
    font-family: 'ChicagoPlain';
    src: url('fonts/chicago-plain-001-001.ttf') format('truetype');
}

body {
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.infographic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    max-width: 700px;
}

svg {
    width: 100%;
    height: auto;
}

.timeline-btn {
    transition: fill 0.3s ease;
    cursor: pointer;
}

    .timeline-btn:hover {
        fill: #0056b3;
    }

.timeline-year {
    font-size: 10px;
    pointer-events: none;
    fill: white;
    font-weight: bold;
}

    .timeline-year.first {
        fill: #00ff5a;
        font-family: 'LCD5x8HRU', monospace;
    }

    .timeline-year.second {
        fill: #33FF57;
        font-family: 'ChicagoPlain', sans-serif;
        -webkit-font-smoothing: none;
        font-smooth: never;
        pointer-events: none;
        font-size: 10px;
    }

.content-container {
    margin: 20px auto;
    width: 700px;
    height: 500px;
    overflow: visible;
}

.window {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.window-rect {
    rx: 0;
    ry: 0;
    stroke: #333;
    stroke-width: 1;
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
}

.window-title {
    font-size: 12px;
    fill: white;
}

.window-content {
    font-size: 12px;
    fill: white;
    text-anchor: middle;
}

/* 1970 */
.window-1970 .window-title {
    font-family: 'LCD5x8HRU', monospace;
    fill: #00ff5a;
    font-size: 10px;
    letter-spacing: 1px;
}

.window-1970 .window-content {
    font-family: 'LCD5x8HRU', monospace;
    fill: #00ff5a;
    font-size: 10px;
    text-anchor: start;
}

/* 1980 */
.window-1980 .window-rect {
    fill: white;
    stroke: #333;
}

.window-1980 .window-title {
    font-family: 'ChicagoPlain', sans-serif;
    fill: black;
    font-size: 14px;
    font-weight: bold;
}

.window-1980 .window-content {
    font-family: 'ChicagoPlain', sans-serif;
    fill: black;
    font-size: 12px;
    text-anchor: start;
}

